{% extends 'backend_app/base.html' %}
{% load static %}
{% block myBlock %}
<META HTTP-EQUIV="refresh" CONTENT="10">
<div class="container-fluid details-container">

    <h4>Dataproducts </h4>

    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <a href="{% url 'index' %}" class="btn btn-warning btn-sm" role="button">To Observations</a>
        {% if my_dataproducts_list %}
        <div class="panel panel-success">

            <div class="panel-body">

                <div class="row">
                    {% if my_dataproducts_list %}
                        {% for dataproduct in my_dataproducts_list %}
                            <div class="col-sm-6 col-md-12 col-lg-2">
                                <div class="img-thumbnail img-fluid">
                                    <a href="{{ dataproduct.property_url }}" target="_blank">
                                        <img class="img-thumbnail" src="{{ dataproduct.property_url }}" class="img-rounded" >
                                  </a>
                                    <div class="caption">

                                        <a href="{{ dataproduct.get_absolute_url }}" class="btn btn-info btn-sm" role="button" target="_blank">{{ dataproduct.dataproduct_type }}</a>
                                    </div>
                                </div>
                            </div>

                            {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                <p>No dataproducts.</p>
            {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}