{% extends 'backend_app/base.html' %}
{% load static %}
{% block myBlock %}


<div class="container-fluid details-container">
    {% include 'backend_app/pagination.html' %}
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        {% if my_observations %}
        <div class="panel panel-success">

            <div class="panel-body">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr>
                        <th width="3%">ID (API)</th>
                        <th>Parent</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Astrometry</th>
                        <th>Date</th>
                        <th>Size</th>
                        <th>In HIPS</th>
                        <th>Set Hips</th>
                        <th>Quality</th>
                        <th>Set Quality</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% include 'backend_app/observations.html' %}

                    </tbody>
                </table>
                {% else %}
                <p>No recent Observations.</p>
                {% endif %}

            </div>
        </div>

       </div>
    </div>
    {% include 'backend_app/pagination.html' %}
</div>

<p class="footer" small> Version 14 Sept 2025</p>


    <script type="text/javascript">
        (function(seconds) {
            var refresh,
                intvrefresh = function() {
                    clearInterval(refresh);
                    refresh = setTimeout(function() {
                       //location.href = location.href;
                       location.reload();
                    }, seconds * 1000);
                };

            $(document).on('keypress click', function() { intvrefresh() });
            intvrefresh();

        }(30));
    </script>

    <script type="text/javascript">
        function readFromLocalStorage(id) {
          var s = localStorage.getItem(id);
          if (s !== null) {
            document.getElementById(id).value = s;
          }
        }
    </script>

    <script type="text/javascript">
    function writeToLocalStorage(id) {
        var s = document.getElementById(id).value
        localStorage.setItem(id, s);
    }
    </script>

{% endblock %}

