{% load static %}
{% for observation in my_observations %}
    {% if observation.my_status != "invisible" %}
    <div class="row">
        <tr class="{{ observation.my_status }}">


            <td>
                <a href="{{ observation.get_absolute_url }}" target="_blank">{{ observation.taskID }} </a>
            </td>
            <td>{{ observation.name }}</td>
              <td>{{ observation.my_status }}</td>
            <td>
                <a href="http://nova.astrometry.net/status/{{ observation.job }}" target="_blank" >{{ observation.job }}</a>
            </td>
            <td>{{ observation.field_name }}</td>
            <td>{{ observation.field_ra|floatformat }} </td>
            <td>{{ observation.field_dec|floatformat }}</td>
            <td>{{ observation.date|date:"Y-m-d H:i:s" }} </td>
            <td>{{ observation.size|filesizeformat }} </td>
            <td>
                <a href="{% url 'dataproducts-list-view' observation.taskID %}" class="btn btn-success btn-sm" role="button">DPS</a>
                {% for dataproduct in my_dataproducts_list %}
                   {% if dataproduct.dataproduct_type == "raw" %}
                      <a href="{{ dataproduct.property_url }}" target="_blank" >{{ dataproduct.filename }}</a>
                   {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if observation.my_status == "pending" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'raw' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Cancel</a>
                {% endif %}
                {% if observation.my_status == "raw" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'pending' my_observations.number %}" class="btn btn-success btn-sm" role="button">Do Processing</a>
                    <a href="{% url 'observation-setstatus-view' observation.pk 'invisible' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Hide</a>
                    <a href="{% url 'observation-setstatus-view' observation.pk 'removing' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Delete</a>
                {% endif %}
                {% if observation.my_status == "submitting" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'raw' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Cancel</a>
                {% endif %}
                {% if observation.my_status == "submitted" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'raw' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Cancel</a>
                {% endif %}
                {% if observation.my_status == "processing" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'processed' my_observations.number %}" class="btn btn-primary btn-sm" role="button">Processed</a>
                    <a href="{% url 'observation-setstatus-view' observation.pk 'raw' my_observations.number %}" class="btn btn-danger btn-sm" role="button">Cancel</a>

                {% endif %}
                {% if observation.my_status == "downloading" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'processed' my_observations.number %}" class="btn btn-success btn-sm" role="button">Retry</a>
                    <a href="{% url 'observation-setstatus-view' observation.pk 'failed' my_observations.number %}" class="btn btn-danger btn-sm" role="button">Failed</a>
                {% endif %}
                {% if observation.my_status == "waiting" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'failed' my_observations.number %}" class="btn btn-danger btn-sm" role="button">Failed</a>
                {% endif %}
                {% if observation.my_status == "failed" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'submitted' my_observations.number %}" class="btn btn-success btn-sm" role="button">Retry</a>
                    <a href="{% url 'observation-setstatus-view' observation.pk 'invisible' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Hide</a>
                    <a href="{% url 'observation-setstatus-view' observation.pk 'removing' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Delete</a>
                {% endif %}
                {% if observation.my_status == "done" %}
                    <a href="{% url 'observation-setstatus-view' observation.pk 'processed' my_observations.number %}" class="btn btn-primary btn-sm" role="button">Update</a>
                    <a href="{% url 'observation-setstatus-view' observation.pk 'removing' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Delete</a>

                {% endif %}
            </td>
            </tr>
        </div>
    {% endif %}
{% endfor %}

