{% load static %}
{% for observation in my_observations %}
    {% if observation.my_status != "invisible" %}
    <div class="row">
        <tr class="{{ observation.my_status }}">


            <td>
                <a href="{{ observation.get_absolute_url }}" target="_blank">{{ observation.taskID }} </a>
            </td>

            {% if observation.task_type == "master" %}
            <td>master</td>
            {% else %}
            <td>{{ observation.parent.taskID }}</td>
            {% endif %}

            <td>{{ observation.name }}</td>

            <td>{{ observation.my_status }}</td>
            <td>
                <a href="http://nova.astrometry.net/status/{{ observation.job }}" target="_blank" >{{ observation.job }}</a>
            </td>

            <td>{{ observation.date|date:"Y-m-d H:i:s" }} </td>
            <td>{{ observation.size|filesizeformat }} </td>
            <td>{{ observation.observing_mode }}</td>
            <td>
                {% if user.is_authenticated %}
                    <a title="Raw (single image)" href="{% url 'observation-setmode-view' observation.pk 'raw_single' my_observations.number %}" class="btn btn-primary btn-sm" role="button">R(1)</a>
                    <a title="Processed (single image)" href="{% url 'observation-setmode-view' observation.pk 'proc_single' my_observations.number %}" class="btn btn-success btn-sm" role="button">P(1)</a>
                    <a title="Raw (stacked images)" href="{% url 'observation-setmode-view' observation.pk 'raw_stacked' my_observations.number %}" class="btn btn-primary btn-sm" role="button">R(n)</a>
                    <a title="Processed (stacked images)" href="{% url 'observation-setmode-view' observation.pk 'proc_stacked' my_observations.number %}" class="btn btn-success btn-sm" role="button">P(n)</a>
                    <a title="Creative, wild, beautiful but unsuitable for astrometry" href="{% url 'observation-setmode-view' observation.pk 'wild' my_observations.number %}" class="btn btn-warning btn-sm" role="button">W</a>
                    <a title="Simulated image" href="{% url 'observation-setmode-view' observation.pk 'simulation' my_observations.number %}" class="btn btn-warning btn-sm" role="button">S</a>

                {% endif %}
            </td>
            <td>{{ observation.quality }}</td>
            <td>
                {% if user.is_authenticated %}
                    <a title="Great quality!" href="{% url 'observation-setquality-view' observation.pk 'great' my_observations.number %}" class="btn btn-success btn-sm" role="button">G+</a>
                    <a title="Good quality" href="{% url 'observation-setquality-view' observation.pk 'good' my_observations.number %}" class="btn btn-success btn-sm" role="button">G</a>
                    <a title="Medium quality" href="{% url 'observation-setquality-view' observation.pk 'medium' my_observations.number %}" class="btn btn-warning btn-sm" role="button">M</a>
                    <a title="Bad quality" href="{% url 'observation-setquality-view' observation.pk 'bad' my_observations.number %}" class="btn btn-danger btn-sm" role="button">B</a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'dataproducts-list-view' observation.taskID %}" class="btn btn-success btn-sm" role="button">DPS</a>
                {% for dataproduct in my_dataproducts_list %}
                   {% if dataproduct.dataproduct_type == "raw" %}
                      <a href="{{ dataproduct.property_url }}" target="_blank" >{{ dataproduct.filename }}</a>
                   {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if user.is_authenticated %}
                    {% if observation.my_status == "pending" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'raw' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Cancel</a>
                    {% endif %}
                    {% if observation.my_status == "raw" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'pending' my_observations.number %}" class="btn btn-success btn-sm" role="button">Process</a>
                        <a href="{% url 'observation-setstatus-view' observation.pk 'invisible' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Hide</a>
                        <a href="{% url 'observation-setstatus-view' observation.pk 'removing' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Del</a>
                    {% endif %}
                    {% if observation.my_status == "submitting" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'raw' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Cancel</a>
                    {% endif %}
                    {% if observation.my_status == "submitted" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'raw' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Cancel</a>
                    {% endif %}
                    {% if observation.my_status == "processing" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'processed' my_observations.number %}" class="btn btn-primary btn-sm" role="button">Processed</a>
                        <a href="{% url 'observation-setstatus-view' observation.pk 'raw' my_observations.number %}" class="btn btn-danger btn-sm" role="button">Cancel</a>

                    {% endif %}
                    {% if observation.my_status == "downloading" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'processed' my_observations.number %}" class="btn btn-success btn-sm" role="button">Retry</a>
                        <a href="{% url 'observation-setstatus-view' observation.pk 'failed' my_observations.number %}" class="btn btn-danger btn-sm" role="button">Failed</a>
                    {% endif %}
                    {% if observation.my_status == "waiting" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'failed' my_observations.number %}" class="btn btn-danger btn-sm" role="button">Failed</a>
                    {% endif %}
                    {% if observation.my_status == "failed" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'submitted' my_observations.number %}" class="btn btn-success btn-sm" role="button">Retry</a>
                        <a href="{% url 'observation-setstatus-view' observation.pk 'invisible' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Hide</a>
                        <a href="{% url 'observation-setstatus-view' observation.pk 'removing' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Del</a>
                    {% endif %}
                    {% if observation.my_status == "done" %}
                        <a href="{% url 'observation-setstatus-view' observation.pk 'processed' my_observations.number %}" class="btn btn-primary btn-sm" role="button">Upd</a>
                        <a href="{% url 'observation-setstatus-view' observation.pk 'removing' my_observations.number %}" class="btn btn-warning btn-sm" role="button">Del</a>

                        {% if observation.task_type != "master" %}
                            <a title="Make this a Master Observation, so it can contain 'children'. Useful for adding multiple processing products under 1 master observation." href="{% url 'observation-settasktype-view' observation.pk 'master' my_observations.number %}" class="btn btn-primary btn-sm" role="button">Master</a>
                        {% endif %}
                    {% endif %}

                {% endif %}
            </td>

            </tr>
        </div>
    {% endif %}
{% endfor %}

