
{% load static %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block content %}
<div class="container-fluid details-container">


  <div class="card">
       <div class="card-body">

        <h5>Upload a new image to AstroBase</h5>
           <hr>
          <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
               <button class="btn btn-primary btn-md" role="button" type="submit">Upload</button>
          </form>
       </div>
  </div>
</div>
{% endblock %}