
upstream web {
  ip_hash;
  #server web:8018;
  server 192.168.22.30:8018;
}

server {
  server_name localhost;
  listen 8019;

  location / {
     proxy_pass http://web/;
  }

  location /static/ {
     alias /static/;
  }


   # redirect server error pages to the static page /50x.html
   #
   error_page   500 502 503 504  /50x.html;
   location = /50x.html {
       root   /usr/share/nginx/html;
   }

}