{% extends 'starcharts_app/base.html' %}
{% load static %}
{% block myBlock %}


<div class="container-fluid details-container">
    <h5>http://{{ request.get_host }}/my_astrobase{% get_media_prefix %}{{ starchart.image }}</h5>
    <a href="http://{{ request.get_host }}/my_astrobase{% get_media_prefix %}{{ starchart.image }}">
        <img src="http://{{ request.get_host }}/my_astrobase{% get_media_prefix %}{{ starchart.image }}" width="1000" height="800">
    </a>
    <h5>starchart_url_media = {{ starchart_url_media }}</h5>
    <img src="{{ starchart_url_media }}" width="800" height="500"/>

</div>
<p class="footer"> version 30 apr 2022 - 20:00)</p>
{% endblock %}

