{% extends 'starcharts_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block myBlock %}

<div class="container-fluid details-container">
    <div class="row">
        <div class="col-4" >
            <div class="card">
               <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                           <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Chart
                              </button>
                              <ul class="dropdown-menu">
                                    {{ starcharts_list | safe }}
                              </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'starcharts_app:starchart' %}">
                                <div><button class="btn btn-success btn-sm"><i class="fas fa-folder-plus"></i> New Chart</button></div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'starcharts_app:starchart-api' %}" target="_blank">
                                <div><button class="btn btn-primary btn-sm"><i class="fas fa-star"></i>API</button></div>
                            </a>
                        </div>
                        </div>
                    <hr>
                    <h4>{{ starchart.name }} ({{ starchart.nr_of_stars }})</h4>
                    <form class="post-form" action="{% url 'starcharts_app:starchart' starchart.name %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <div class="row">
                                <div class="col-4">
                                {{ form.name|as_crispy_field }}
                                </div>
                                <div class="col-4">
                                {{ form.source|as_crispy_field }}
                                </div>
                                <div class="col-4">
                                {{ form.scheme|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-3">
                                {{ form.ra|as_crispy_field }}
                              </div>
                              <div class="col-3">
                                {{ form.dec|as_crispy_field }}
                              </div>
                               <div class="col-3">
                                {{ form.radius_ra|as_crispy_field }}
                              </div>
                              <div class="col-3">
                                {{ form.radius_dec|as_crispy_field }}
                              </div>
                            </div>
                           <div class="row">
                               <div class="col-3">
                                {{ form.magnitude_limit|as_crispy_field }}
                               </div>
                               <div class="col-3">
                                {{ form.dimmest_mag|as_crispy_field }}
                               </div>
                               <div class="col-3">
                                {{ form.brightest_mag|as_crispy_field }}
                               </div>
                               <div class="col-3">
                                {{ form.rotation|as_crispy_field }}
                              </div>
                               <div class="col-3">
                                {{ form.background|as_crispy_field }}
                               </div>
                               <div class="col-3">
                                {{ form.star_color|as_crispy_field }}
                               </div>
                               <div class="col-3">
                                {{ form.min_d|as_crispy_field }}
                               </div>
                               <div class="col-3">
                                {{ form.max_d|as_crispy_field }}
                               </div>
                            </div>

                            <div class="row">
                              <div class="col-6">
                                {{ form.label_field|as_crispy_field }}
                              </div>
                               <div class="col-3">
                                {{ form.font_size|as_crispy_field }}
                              </div>
                              <div class="col-3">
                                {{ form.font_color|as_crispy_field }}
                              </div>

                            </div>
                            <div class="row">
                              <div class="col-3">
                                {{ form.curve_width|as_crispy_field }}
                              </div>
                              <div class="col-3">
                                {{ form.curve_color|as_crispy_field }}
                              </div>
                            </div>

                            <div class="row">
                               <div class="col-4">
                                  {{ form.diagram_size|as_crispy_field }}
                                </div>
                                <div class="col-4">
                                  {{ form.display_width|as_crispy_field }}
                                </div>
                                <div class="col-4">
                                  {{ form.display_height|as_crispy_field }}
                                </div>
                            </div>
                        </div>&nbsp;
                        <div class="row">
                            <div class="col-6"><button class="btn btn-success btn-sm" type="submit" name="save" value="starchart"><i class="fas fa-check"></i> Save as Chart</button></div>
                            <div class="col-6"><button class="btn btn-success btn-sm" type="submit" name="save" value="scheme"><i class="fas fa-check"></i> Save as Scheme</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
               <div class="card-body">
                  {% if starchart_url_media %}
                    <a href="{{ starchart_url_media }}" target="_blank">
                        <img src="{{ starchart_url_media }}" width="{{ starchart.display_width}}" height="{{ starchart.display_height}}"/>
                    </a>
                   <p><i>{{ starchart_url_media }} ({{ starchart.nr_of_stars }} stars)</i></p>
                   {% else %}
                   <h3>Select an existing chart or fill in the form and click 'save' to create a new one</h3>
                   {% endif %}
               </div>
            </div>
        </div>
    </div>
</div>
<p class="footer"> version 3 dec 2022 - 12:00)</p>
{% endblock %}
