{% extends 'starcharts_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block myBlock %}

<div class="container-fluid details-container">
    <div class="row">
        <div class="col-2" >
            <div class="card">
               <div class="card-body">
                    <h3>{{ starchart.name }}</h3>
                    <form class="post-form" action="{% url 'starcharts_app:form-starchart' starchart.name %}" method="POST">
                        {% csrf_token %}
                        <div>
                            {{ form|crispy }}
                        </div>&nbsp;
                            <div><button class="btn btn-success btn-md" type="submit"><i class="fas fa-check"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
               <div class="card-body">

                    <a href="{{ starchart_url_media }}">
                        <img src="{{ starchart_url_media }}" width="1200" height="700"/>
                    </a>
                   <p><i>{{ starchart_url_media }}</i></p>
               </div>
            </div>
        </div>
    </div>
</div>
<p class="footer"> version 7 may 2022 - 12:00)</p>
{% endblock %}

